*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/*header*/

.header{
    text-align: center;
    color: rgb(236, 79, 106);
    padding: 25px;
}

.header h1{
    font-size: 35px;
    font-weight: 800;
    font-weight: bold;
}

.header p{
    font-size: 15px;
    margin-top: 35px;
}


/*main*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.row{
    padding: 25px;
}

.col{
    float: left;
    width: calc(100% / 3);
    padding: 0 30px;
}

.card{
    background-color: black;
}

.foto{
    float: left;
    width: 90px;

}

.informazioni{
    color: white;
    padding-left: 10px;
}

h2{
    font-size: 15px;
    font-weight: 700;
    
}

h4{
    font-size: 12px;

}

.email{
    color: rgb(195, 195, 255);
}

